@import "../../variables";

.c-logo {
  height: 100%;
  font-family: "Poppins", tahoma, sans-serif;

  &__link {
    text-decoration: none;
    color: $black;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__svg {
    height: 3em;
    margin-right: 0.3em;
  }

  &__covid {
    width: 0.75em;
  }

  &__text {
    &--big {
      fill: $green;
      font-size: 13rem;
    }

    &--small {
      font-size: 0.75em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
