@import "../../variables";

.c-media-link {
  text-decoration: none;
  color: $white;
  padding: 0.5em;

  &:hover {
    color: darken($white, $amount: 30%);
  }

  &__svg {
    width: 1em;
    height: 1em;
  }
}
