@import "../../variables";

.c-settings {
  &__btn {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.5em;
    font-size: 0.6em;

    &:focus {
      border: 0.1em dotted $black;
    }

    &--font-increase {
      font-size: 0.75em;
    }
  }

  &__svg {
    width: 1em;
    height: 1em;
  }
}
