@import "../variables";

.c-settings {
  &__btn {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.5em;
    font-size: 0.6em;

    &--font-increase {
      font-size: 0.75em;
    }
  }
}
