@import "../variables";

.l-main {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  @import "../components/common/bar-left";
  @import "../components/common/bar-right";
  @import "../components/common/test";
  @import "../components/common/overview";
  @import "../components/common/charts";
  @import "../components/common/search";
  @import "../components/common/particles";
  @import "../components/common/hero";
  @import "../components/common/about";
  @import "../components/mobile/bar-left";
  @import "../components/mobile/bar-right";
  @import "../components/mobile/test";
  @import "../components/mobile/overview";
  @import "../components/mobile/charts";
  @import "../components/mobile/hero";
  @import "../components/mobile/about";
}
