@import "../../variables";

@media (max-width: 1376px) {
  .c-nav {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .c-nav {
    &__btn {
      $margin-from-corner: calc(6vh - 1.5em);
      display: block;
      outline: none;
      border: none;
      background: none;
      position: fixed;
      z-index: 2;
      top: $margin-from-corner;
      right: $margin-from-corner;
      width: 3em;
      height: 3em;
      cursor: pointer;

      &:hover {
        background-color: darken($white, $amount: 10%);
        border-radius: 50%;
      }
    }

    &__hamburger {
      position: absolute;
      top: 47.5%;
      left: 20%;
      width: 60%;
      height: 5%;
      background-color: $black;
      border-radius: 1em;

      &.c-nav {
        &__hamburger {
          &--is-displayed {
            &::before,
            &::after {
              transform: translateY(0);
            }
          }
        }
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        border-radius: 1em;
        transition: transform 0.15s linear;
      }

      &::before {
        transform: translateY(400%);
      }

      &::after {
        transform: translateY(-400%);
      }
    }

    &__list {
      position: fixed;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      font-size: 2em;
      justify-content: space-evenly;
      flex-direction: column;
      background-color: darken($white, $amount: 5%);
      transform: translateX(100%);
      transition: transform 0.2s ease-out;
    }
  }
}
