@import "./_global";
@import "./layouts/header";
.l-header {
  background-color: lighten($black, $amount: 5%);
  color: $white;

  .c-logo {
    &__link {
      color: $white;
    }
  }

  .c-settings {
    &__btn {
      color: $white;
    }
  }

  .c-nav {
    &__link {
      color: $white;
    }

    &__btn {
      &:hover {
        background-color: lighten($black, $amount: 15%);
      }
    }

    &__hamburger {
      background-color: $white;

      &::before,
      &::after {
        background-color: $white;
      }
    }

    &__list {
      &--fill-window {
        background-color: $black;
        color: $white;
      }
    }
  }
}
@import "./layouts/main";
.l-main {
  flex-direction: column;
}
@import "./layouts/footer";
.l-footer {
  background-color: lighten($black, $amount: 5%);
}
