@import "./variables";

.contrast {
  background-color: $black;
  color: $yellow;

  .l-header {
    background-color: lighten($black, $amount: 5%);

    .c-logo {
      &__text {
        fill: $yellow;
        color: $yellow;
      }
    }

    .c-settings {
      &__btn {
        color: $yellow;

        &:hover,
        &:focus {
          background-color: lighten($black, $amount: 20%);
        }
      }
    }

    .c-nav {
      &__link {
        color: $yellow;

        &::before {
          background-color: $yellow;
        }
      }

      &__btn {
        &:hover {
          background-color: lighten($black, $amount: 10%);
        }
      }

      &__hamburger {
        background-color: $yellow;

        &::before,
        &::after {
          background-color: $yellow;
        }
      }

      &__list {
        &--fill-window {
          background-color: darken($black, $amount: 5%);
        }
      }
    }
  }

  .l-main {
    .c-links {
      &__link {
        background-color: $black;
        color: $yellow;
        border: 0.1em solid $yellow;

        &--yellow {
          background-color: $yellow;
          color: $black;
        }

        &::before {
          background-color: darken($yellow, $amount: 30%);
        }

        &:focus {
          box-shadow: 0 0 0 0.2em $black, 0 0 0 0.4em $yellow;
        }

        &:hover,
        &:focus {
          color: $black;
        }
      }
    }

    .c-test {
      border-color: lighten($black, $amount: 30%);

      &__field {
        background-color: lighten($black, $amount: 10%);
      }

      &__result {
        &--orange,
        &--green,
        &--white {
          color: $black;
          background-color: $yellow;
        }
      }

      &__svg {
        fill: $yellow;
      }

      &__label {
        border-color: lighten($black, $amount: 30%);
      }

      &__text {
        &--circle,
        &--box {
          &::before {
            background-color: lighten($black, $amount: 50%);
          }

          &::after {
            background-color: $black;
          }
        }
      }

      &__input-radio,
      &__input-checkbox {
        &:checked {
          & ~ .c-test {
            &__text {
              &--circle,
              &--box {
                &::before {
                  background-color: $yellow;
                }
              }
            }
          }
        }
      }

      &__setting {
        background-color: $yellow;

        &:hover {
          background-color: darken($yellow, $amount: 20%);
        }
      }

      &__btn {
        &--white {
          color: $yellow;
          background-color: lighten($black, $amount: 10%);
        }

        &--yellow {
          background-color: $yellow;
          color: $black;

          &:focus {
            box-shadow: 0 0 0 0.2em lighten($black, $amount: 10%), 0 0 0 0.4em darken($yellow, $amount: 20%);
          }

          &::after {
            background-color: darken($yellow, $amount: 20%);
          }
        }
      }
    }

    .c-hero {
      &__link {
        background-color: $yellow;
        color: $black;

        &::before {
          background-color: darken($yellow, $amount: 30%);
        }
      }
    }

    .c-about {
      &__quote {
        &::before {
          background-color: $yellow;
        }
      }

      &__link {
        color: $yellow;

        &:hover {
          color: darken($yellow, $amount: 30%);
        }
      }

      &__heading {
        &--orange {
          color: $yellow;
        }
      }
    }
  }

  .l-article {
    background-color: lighten($black, $amount: 3%);
  }

  .l-footer {
    background-color: lighten($black, $amount: 5%);
    color: $yellow;

    .c-media-link {
      color: $yellow;

      &:hover {
        color: darken($yellow, $amount: 30%);
      }
    }

    .c-copyright-claim {
      &__link {
        color: $yellow;

        &:hover {
          color: darken($yellow, $amount: 30%);
        }
      }
    }
  }
}
