@import "./variables";

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf"), url("../assets/fonts/Poppins-Medium.ttf"),
    url("../assets/fonts/Poppins-SemiBold.ttf"), url("../assets/fonts/Poppins-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $white;
  color: $black;
  font-size: calc(10px + 2vmin);
  font-family: "Poppins", Tahoma, sans-serif;
}

@import "./layouts/header";
@import "./layouts/footer";
