@keyframes spread {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-25%);
  }
  20% {
    transform: translateX(25%);
  }
  30% {
    transform: translateX(-15%);
  }
  40% {
    transform: translateX(15%);
  }
  50% {
    transform: translateX(-10%);
  }
  60% {
    transform: translateX(10%);
  }
  70% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}
